<h2>Your question here: </h2>
<form action="answer" method="get">
  <input class="input-box" type="text" name="question" value="<%=params[:question]%>">
  <input class="button" type="submit" value="Ask!">
</form>